<tr>
  <td><%= link_to course.name, supervisors_course_path(course) %></td>
  <td><%= link_to t("courses.delete"), supervisors_course_path(course,
    activity: "destroy"), method: :delete,
    data: {confirm: t("courses.confirm")} %></td>
    <td>
      <% if course.finished? %>
        <%= render "shared/finished" %>
      <% else %>
        <span id="finish-course-<%= course.id %>">
          <%= link_to t("buttons.finish"),
            supervisors_course_path(course, activity: "finish"),
            method: :put, remote: true %>
        </span>
      <% end %>
    </td>
    <td>
      <%= link_to t("courses.create"), new_supervisors_course_path %>
    </td>
</tr>
