<%= form_for [:supervisors, @course] do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label :description %>
  <%= f.text_area :description, class: "form-control" %>

  <%= f.label :status %>
  <%= f.select :status, options_for_select(Course.statuses.map{|k, v| [k, k]}),
    class: "form-control" %>

  <%= f.label :start_date %>
  <%= f.date_select :start_date, class: "form-control" %>

  <%= f.label :end_date %>
  <%= f.date_select :end_date, class: "form-control" %>

  <h2><%= t "views.messages.add_subject_to_course" %></h2>
  <div class="col-md-8 pull-right">
    <%= f.select :subject_ids,
      options_for_select(@subjects.map{|subject| [subject.name, subject.id]},
      selected_key = f.object.subject_ids), {}, {multiple: true,
        class: "form-control"} %>
  </div>
  <%= hidden_field_tag :activity, "update" %>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
