<% provide :title, @course.name %>
<div class="container">
  <h1 class="text-center text-success">
    <%= t("courses.name").capitalize %> : <%= @course.name %>
  </h1>
  <h2 class="text-center">
    <span class="label label-<%= @course.status == "finished" ? "danger" : "success" %>">
      <%= t @course.status == "finished" ? "courses.finished" : "courses.started" %>
    </span>
  </h2>
  <table class="table">
    <tr>
      <td class="size18px text-info col-md-2">
        <b class="pull-right"><%= t "courses.description" %> :</b>
      </td>
      <td>
        <%= @course.description %>
      </td>
    </tr>
    <tr>
      <td class="size18px text-info col-md-2">
        <b class="pull-right">
          <%= pluralize @course.users.supervisors.count,
            t("courses.supervisor") %>:</b>
      </td>
      <td>
        <% @course.users.supervisors.each do |user| %>
          <span class="glyphicon glyphicon-user text-info"></span>&nbsp;
          <%= link_to user.name, "#" %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="size18px text-info col-md-2">
        <b class="pull-right">
          <%= pluralize @course.users.not_supervisors.count,
            t("courses.trainee") %> :
        </b>
      </td>
      <td>
        <% @course.users.not_supervisors.each do |user| %>
          <span class="glyphicon glyphicon-user text-info"></span>&nbsp;
          <%= link_to user.name, "#" %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="size18px text-info col-md-2">
        <b class="pull-right"><%= pluralize @course.subjects.count,
          t("courses.subject") %> :</b>
      </td>
      <td>
        <% @course.subjects.each do |subject| %>
          <span class="glyphicon glyphicon-file text-info"></span>&nbsp;
          <%= link_to subject.name,
            supervisors_course_subject_path(@course, subject) %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="size18px text-info col-md-2">
        <b class="pull-right"><%= t "course.start_date" %> :</b>
      </td>
      <td>
        <%= @course.start_date %>
      </td>
    </tr>
    <tr>
      <td class="size18px text-info col-md-2">
        <b class="pull-right"><%= t "course.end_date" %> :</b>
      </td>
      <td>
        <%= @course.end_date %>
      </td>
      <td class="size18px text-info col-md-2">
        <b class="pull-right"></b>
      </td>
      <li>
        <%= link_to t("course.edit"),
          edit_supervisors_course_path(@course) %> |
        <%= link_to t("courses.add_subject"),
          supervisors_course_course_subjects_path(@course) %> |
        <%= link_to t("courses.add_user"),
          supervisors_course_user_courses_path(@course) %>
      </li>
    </tr>
  </table>
</div>
