<% provide :title, t("layouts.header.home") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= full_title yield :title %></title>
</head>
<body>
  <h1><%= t "static_pages.home.welcome" %></h1>
  <h3><%= t "static_pages.home.support" %></h3>
  <table class="table">
    <thead>
      <tr>
        <th><%= t "courses.name" %></th>
        <th><%= t "courses.start_date" %></th>
        <th><%= t "courses.end_date" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @courses if current_user %>
    </tbody>
  </table>
</body>
</html>
