<tr class="<%= task.finished? ? "danger" : "success" %>">
  <td><%= task.name %></td>
  <td><%= task.description %></td>
  <td><%= l task.start_time, format: :short_date %></td>
  <td><%= l task.end_time, format: :short_date %></td>
</tr>
