<div class="col-sm-offset-2 col-sm-10">
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label :description %>
  <%= f.text_area :description, class: "form-control" %>

  <%= f.hidden_field :_destroy %>
  <%= link_to t("buttons.remove_task"), "#", class: "remove_fields" %>
</div>
