<div class="row">
  <div class="col-md-8">
    <%= form_for @course, url: supervisors_course_path(@course,
      activity: "update_course_trainee") do |f| %>
      <h1><%= t "courses.add_user" %></h1>
        <table class="table">
            <%= f.fields_for :user_courses do |builder| %>
              <tr class="supervisor">
                <td class="text-info">
                  <%= link_to builder.object.user.name, "" %></b>
                </td>
                <td>
                <% if @course.users.include?(builder.object.user) %>
                  <%= builder.check_box :_destroy, {checked: true}, 0, 1 %>
                <% else %>
                  <%= builder.check_box :user_id,
                    {checked: false}, builder.object.user_id, nil %>
                  <%= builder.hidden_field :status, value: :started %>
                <% end %>
                </td>
              </tr>
            <% end %>
          <%= will_paginate @users %>
        </table>
      <div class="actions">
        <%= f.submit t("buttons.submit"), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
