<h2><%= t "subjects.tasks" %></h2>
<table class="table">
  <thead>
    <tr>
      <th><%= t "subjects.name" %></th>
      <th><%= t "subjects.description" %></th>
      <th><%= t "subjects.start_date" %></th>
      <th><%= t "subjects.end_date" %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @user_tasks %>
  </tbody>
</table>
<hr/>
<h2><%= t "instructions" %></h2>
<p class="container-fluid">
  <%= @subject.description %>
</p>
