<tr class="<%= user_subject.finished? ? "danger" : "success" %>">
  <td>
    <% if user_subject.started? %>
      <%= (link_to user_subject.subject.name,
        user_user_subject_path(current_user, user_subject)) %>
    <% else %>
      <%= user_subject.subject.name %>
    <% end %>
  </td>
  <td><%= user_subject.subject.start_date %></td>
  <td><%= user_subject.subject.end_date %></td>
</tr>
