<li>
  <%= activity.user.name %>
  <%= t "activities.#{activity.target_type}.#{activity.name}" %>
  <% target_name = case activity.target_type %>
    <% when "Course" then activity.target.name %>
    <% when "UserCourse" then activity.target.course.name %>
    <% when "UserSubject" then activity.target.subject.name <<
      t("activities.in") << activity.target.user_course.course.name %>
    <% when "UserTask" then activity.target.subject.name <<
      t("activities.in") << activity.target.user_subject.subject.name <<
      t("activities.in") <<
      activity.target.user_subject.user_course.course.name %>
  <% end %>
  <%= target_name %>
  <span class="timestamp">
    <%= time_ago_in_words activity.created_at %>
    <%= t "activities.ago"  %>
  </span>
</li>
